@import "nullstyle.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900);

@font-face {
	font-family: "SF Pro";
	src: url(../fonts/SFProDisplay-Regular.woff) format("woff"), url(../fonts/SFProDisplay-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro";
	src: url(../fonts/SFProDisplay-Bold.woff) format("woff"), url(../fonts/SFProDisplay-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
.wrapper {
	font-family: "open sans";
	max-width: 1400px;
	margin: 0 auto;
}
.wrapper header {
	background: url("../img/conyon.jpeg") 0 0 no-repeat;
	height: 700px;
}
.wrapper .title {
	display: block;
	font-size: 32px;
	color: #fff;
	text-align: center;
	padding: 330px 0px 0px 0px;
	font-weight: 700;
	line-height: 1.3;
}
.header a {
	display: block;
	font-size: 32px;
	color: #fff;
	text-align: center;
	font-weight: 700;
}
.link {
	margin: 150px 0px 20px 0px;
	text-decoration: underline;
}
.content {
	width: 880px;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 16px;
}
.tickets {
	max-height: 100px;
	overflow: auto;
}
.house-p1 {
	max-height: 100px;
	overflow: scroll;
}
.medeu {
	text-transform: uppercase;
	text-align: right;
}
.cars {
	text-transform: capitalize;
	text-align: center;
}
.wrapper h2 {
	font-size: 28px;
	font-weight: 700;
	margin: 20px 0;
}
.main-title-text {
	font-size: 19.3px;
	font-weight: 600;
	color: rgb(95, 95, 95);
	margin: 50px 0 0 0;
}
.wrapper p {
	margin: 15px 0;
	text-shadow: 5px 5px 5px grey;
}
.wrapper img {
	width: 1100px;
	margin: 0 -120px;
	padding: 20px 0;
}
.wrapper li {
	font-family: "SF Pro";
	font-weight: 700;
	text-shadow: 5px 5px 5px rgb(192, 123, 123);
	line-height: 2.5;
}
li::before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	background-color: #000;
	width: 5px;
	height: 5px;
	margin: 0px 15px 3px 0px;
}
.wrapper footer a {
	display: inline-block;
	width: 880px;
	font-size: 20px;
	margin: 20px auto;
}
.conyon-p1 {
	width: 300px;
	height: 200px;
}
.project {
	font-family: "lato";
	width: 810px;
	margin: 0px auto;
	font-size: 16px;
}
.project .title {
	display: inline-block;
	font-weight: 900;
	line-height: 1.3;
	font-size: 46px;
	margin: 158px 0px 92px 0px;
}
.project .img {
}
.project .text {
	font-size: 20px;
	line-height: 1.5;
	color: #424551;
}
.project p {
	margin: 24px 0;
}
.project .text-p1 {
	padding: 36px 0px 0px 0px;
	font-weight: bold;
	color: #1e212c;
}
.project .text-p3 {
	width: 752px;
	height: 120px;
	margin: 48px 0px 48px 58px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.project .list {
}
.project .list-title {
	display: inline-block;
	line-height: 1.6;
	margin: 0px 0px 24px 0px;
}
.project .list li {
	padding: 0px 0px 0px 30px;
	line-height: 1.6;
}

.project footer {
	font-size: 30px;
}
